<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="1.8.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net452" />
  <package id="Jint" version="2.5.0" targetFramework="net452" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.Build.Common" version="2.13.1" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.Build.Engine" version="2.13.1" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.Common" version="2.13.1" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.DataContracts.Common" version="2.13.1" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.Dfm" version="2.13.1" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.Glob" version="2.13.1" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.MarkdownLite" version="2.13.1" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.Plugins" version="2.13.1" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.YamlSerialization" version="2.13.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Nustache" version="1.15.3.5" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net452" />
  <package id="YamlDotNet.Signed" version="4.1.0" targetFramework="net452" />
</packages>